<div class="board-list-view-table">
  <div class="board-num"><%= post.num %></div>
  <div class="board-title">
    <a href="/posts/<%= post._id %>"><%= post.title %></a>
  </div>
  <div class="board-writer"><%= post.writer %></div>
  <div class="board-date"><%= post.date %></div>
  <div class="board-count"></div>
</div>
