<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: "게시글 내용" }) %>
    <link rel="stylesheet" href="/styles/write-content.css" />
    <link rel="stylesheet" href="/styles/modal-confirm.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="main-container">
      <div class="main-title">
        <h1>게시글</h1>
        <p>게시글을 작성해보세요.</p>
      </div>
      <div class="board-view-container">
        <div class="board-view" id="board-view-content">
          <div class="board-title"><%= post.title %></div>
          <div class="board-info">
            <div class="board-info-lists">
              <div class="board-info-list">번호</div>
              <div class="board-info-num"><%= post.num %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">작성자</div>
              <div class="board-info-writer"><%= post.writer %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">작성일</div>
              <div class="board-info-date"><%= post.date %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">조회</div>
              <div class="board-info-views"><%= post.count %></div>
            </div>
          </div>
          <div class="board-content"><%= post.content %></div>
        </div>
        <div class="board-comment-container">
          <% comment.forEach(comment => { %>
            <div class="board-comment">
              <div class="comment-user-edit">
                <p class="comment-user"><%= comment.name %></p>
                <% if (locals.isAuth) { %>
                <% if (user && user.email === comment.email) { %>
                <div class="btn-form">                  
                  <button class="btn-comment-edit">&#9998;</button>
                  <form action="/posts/<%= post._id %>/comments/delete" method="POST" class="board-comment-form-delete">
                    <button class="btn-comment-delete">&times;</button>
                    <input 
                    type="hidden" 
                    name="commentId" 
                    value="<%= comment._id %>"
                    />
                  </form>
                </div>           
                <% } %>
                <% } %>              
              </div>
              <p class="comment-content"><%= comment.content %></p>
              <p class="comment-date"><%= comment.date %></p>

              <% if (locals.isAuth) { %>
              <button 
              class="comment-reply btn-comment-reply"
              data-comment-id="<%= comment._id %>"
              data-post-id="<%= post._id %>">&#10551; 답글쓰기</button>
                <form 
                action="/posts/<%= post._id %>/comments/replies" 
                method="POST" 
                class="board-comment-form-reply"              
                >
                  <div class="board-comment-write">
                    <p class="comment-write-user"><%= user.name %></p>
                    <textarea
                      type="text"
                      class="comment-textarea"
                      rows="1"
                      name="content"
                      placeholder="답글을 남겨보세요."
                      required
                    ></textarea>
                    <input 
                    type="hidden" 
                    name="commentId" 
                    value="<%= comment._id %>"
                    />
                    <input 
                    type="hidden" 
                    name="postId" 
                    value="<%= post._id %>"
                    />
                    <div class="comment-buttons">
                      <button type="submit" class="btn-comment">등록</button>
                      <button type="button" class="btn-comment btn-comment-reply-cancel comment-cancel">취소</button>
                    </div>
                  </div>
                </form>
              <% } else { %>
              <button class="comment-reply btn-comment-reply opacity">답글쓰기</button>
              <% } %>

              <% if (user && user.email === comment.email) { %>
              <form action="/posts/<%= post._id %>/comments/edit" method="POST" class="board-comment-form-edit">
                <div class="board-comment-write">
                  <p class="comment-write-user"><%= user.name %></p>
                  <textarea
                    type="text"
                    class="comment-textarea"
                    rows="1"
                    name="content"
                    required
                    data-comment-content="<%= comment.content %>"
                  ><%= comment.content %></textarea>
                  <input 
                    type="hidden" 
                    name="commentId" 
                    value="<%= comment._id %>"
                    />
                  <div class="comment-buttons">
                    <button type="submit" class="btn-comment comment-edit">수정</button>
                    <button type="button" class="btn-comment btn-comment-cancel comment-cancel">취소</button>
                  </div>
                </div>
              </form>
              <% } %>

            </div>

            <% reply.forEach((replyArr) => { %>
              <% replyArr.forEach((reply) => { %>
                <% if (reply.comment_id.toString() === comment._id.toString()) { %>
                <div class="board-comment comment-reply">
                  <div class="comment-user-edit">
                    <p class="comment-user"><%= reply.name %></p>
                    <% if (locals.isAuth) { %>
                    <% if (user && user.email === reply.email) { %>              
                    <div class="btn-form">                  
                      <button class="btn-reply-edit">&#9998;</button>
                      <form action="/posts/<%= post._id %>/comments/replies/delete" method="POST" class="board-comment-form-delete">
                        <button class="btn-comment-delete">&times;</button>
                        <input 
                        type="hidden" 
                        name="replyId" 
                        value="<%= reply._id %>"
                        />
                      </form>
                    </div>
                    <% } %>
                    <% } %>                        
                  </div>
                  <p class="comment-content"><%= reply.content %></p>
                  <div class="date-margin">
                    <p class="comment-date"><%= reply.date %></p>
                  </div>
                  
                  <% if (user && user.email === reply.email) { %>
                    <form action="/posts/<%= post._id %>/comments/replies/edit" method="POST" class="board-reply-form-edit">
                      <div class="board-comment-write">
                        <p class="comment-write-user"><%= reply.name %></p>
                        <textarea
                          type="text"
                          class="comment-textarea"
                          rows="1"
                          name="content"
                          required
                          data-reply-content="<%= reply.content %>"
                        ><%= reply.content %></textarea>
                        <input 
                          type="hidden" 
                          name="replyId" 
                          value="<%= reply._id %>"
                          />
                        <div class="comment-buttons">
                          <button type="submit" class="btn-comment comment-edit">수정</button>
                          <button type="button" class="btn-comment btn-reply-cancel comment-cancel">취소</button>
                        </div>
                      </div>
                    </form>
                    <% } %>

                </div>

                

                <% } %>
              <% }) %>
            <% }) %>

          <% }) %>
        </div>
        <% if (locals.isAuth) { %>
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <div class="board-comment-write">
            <p class="comment-write-user"><%= user.name %></p>
            <textarea
              type="text"
              class="comment-textarea"
              rows="1"
              name="content"
              placeholder="댓글을 남겨보세요."
              required
            ></textarea>
            <button class="btn-comment comment-add">등록</button>
          </div>
        </form>
        <% } else { %>
        <div class="board-comment-write">
          <div class="comment-write-user">GUEST</div>
          <textarea
            type="text"
            class="comment-textarea"
            rows="1"
            name="content"
            placeholder="로그인이 필요합니다."
            readonly
          ></textarea>
          <button class="btn-comment comment-add opacity">등록</button>
        </div>
        <% } %>
        <div class="btn-wrap" id="btn-wrap-edit">
          <a href="/posts" class="btn-list">목록</a>
          <% if (user && user.email === post.email) { %>
          <a href="/posts/<%= post._id %>/edit" id="btn-editpage">수정</a>
          <form
            id="delete-form"
            action="/posts/<%= post._id %>/delete"
            method="POST"
          >
            <!-- <button type="button" id="btn-delete">삭제</button> -->
            <button id="btn-delete">삭제</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>

    <div id="delete-confirm-modal" class="modal">
      <div class="modal-content">
        <p class="confirm-message">정말로 삭제하시겠습니까?</p>
        <div class="btn-group">
          <button id="btn-confirm-delete" class="delete-btn">삭제</button>
          <button id="btn-cancel-delete" class="cancel-btn">취소</button>
        </div>
      </div>
    </div>
    
    <script defer src="/scripts/delete-confirm-modal.js"></script>
    <script defer src="/scripts/comment.js"></script>
  </body>
</html>

<!-- <a href="/posts" class="btn-list">목록</a>
          <a id="btn-editpage" class="disabled-opacity">수정</a>
          <a id="btn-delete" class="disabled-opacity">삭제</a> -->

<!-- <script defer src="/scripts/edit-modal.js"></script>
    <script defer src="/scripts/delete-modal.js"></script> -->
