<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: "게시글 내용" }) %>
    <link rel="stylesheet" href="/styles/write-content.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="main-container">
      <div class="main-title">
        <h1>게시글</h1>
        <p>게시글을 작성해보세요.</p>
      </div>
      <div class="board-view-container">
        <div class="board-view" id="board-view-content">
          <div class="board-title"><%= post.title %></div>
          <div class="board-info">
            <div class="board-info-lists">
              <div class="board-info-list">번호</div>
              <div class="board-info-num"><%= post.num %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">글쓴이</div>
              <div class="board-info-writer"><%= post.writer %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">작성일</div>
              <div class="board-info-date"><%= post.date %></div>
            </div>
            <div class="board-info-lists">
              <div class="board-info-list">조회</div>
              <div class="board-info-views"><%= post.count %></div>
            </div>
          </div>
          <div class="board-content"><%= post.content %></div>
        </div>
        <div class="btn-wrap" id="btn-wrap-edit">
          <a href="/posts" class="btn-list">목록</a>
          <a href="/posts/<%= post._id %>/edit" id="btn-editpage">수정</a>
          <form action="/posts/<%= post._id %>/delete" method="POST">
            <button id="btn-delete">삭제</button>
          </form>
        </div>
      </div>
    </div>
    <% if (editErrorMessage) { %>
    <div id="edit-error-modal" class="modal">
      <div class="modal-content">
        <span id="edit-error-close" class="close">&times;</span>
        <p class="error-message"><%= editErrorMessage %></p>
      </div>
    </div>
    <% } %> 
    
    <% if (deleteErrorMessage) { %>
    <div id="delete-error-modal" class="modal">
      <div class="modal-content">
        <span id="delete-error-close" class="close">&times;</span>
        <p class="error-message"><%= deleteErrorMessage %></p>
      </div>
    </div>
    <% } %>
    <script defer src="/scripts/edit-modal.js"></script>
    <script defer src="/scripts/delete-modal.js"></script>
  </body>
</html>
